<div class="box">
    <div>
        <div class="body">
            <h1>404 - Page Not Found</h1>
            <p>
                We're sorry, but the page you're looking for cannot be found.
            </p>
            <p>
                <a href="/" class="more">Return to Home Page</a>
            </p>
        </div>
    </div>
</div>
