<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Error {{status}}</h1>
            <p>{{message}}</p>
            
            {{#if error}}
                <div class="error-details">
                    <h3>Error Details:</h3>
                    <pre>{{error.stack}}</pre>
                </div>
            {{/if}}
            
            <div class="error-actions">
                <a href="/" class="btn btn-primary">Go Home</a>
                <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
            </div>
        </div>
    </div>
</div> 