<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}} - Travlr Getaways</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            <div id="header">
                <div id="logo">
                    <a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
                </div>
                <div id="navigation">
                    <ul>
                        <li {{#if home}}class="selected"{{/if}}>
                            <a href="/">Home</a>
                        </li>
                        <li {{#if travel}}class="selected"{{/if}}>
                            <a href="/travel">Travel</a>
                        </li>
                        <li {{#if rooms}}class="selected"{{/if}}>
                            <a href="/rooms">Rooms</a>
                        </li>
                        <li {{#if meals}}class="selected"{{/if}}>
                            <a href="/meals">Meals</a>
                        </li>
                        <li {{#if news}}class="selected"{{/if}}>
                            <a href="/news">News</a>
                        </li>
                        <li {{#if about}}class="selected"{{/if}}>
                            <a href="/about">About</a>
                        </li>
                        <li {{#if contact}}class="selected"{{/if}}>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="contents">
                {{{body}}}
            </div>
        </div>
        <div id="footer">
            <div>
                <ul class="navigation">
                    <li {{#if home}}class="active"{{/if}}>
                        <a href="/">Home</a>
                    </li>
                    <li {{#if travel}}class="active"{{/if}}>
                        <a href="/travel">Travel</a>
                    </li>
                    <li {{#if rooms}}class="active"{{/if}}>
                        <a href="/rooms">Rooms</a>
                    </li>
                    <li {{#if meals}}class="active"{{/if}}>
                        <a href="/meals">Meals</a>
                    </li>
                    <li {{#if news}}class="active"{{/if}}>
                        <a href="/news">News</a>
                    </li>
                    <li {{#if about}}class="active"{{/if}}>
                        <a href="/about">About</a>
                    </li>
                    <li {{#if contact}}class="active"{{/if}}>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <div id="connect">
                    <a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a>
                    <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
                    <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
                    <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
                </div>
            </div>
            <p>
                © {{year}} by Travlr Getaways. All Rights Reserved
            </p>
        </div>
    </div>
</body>
</html>
